@page "/Alexis"


<h2>Alexis</h2>


<h3>Early life</h3>
Alexis was born in Moscow on March 19th 1629. He spent much of his early life preparing for eventually succeeding his father as Tsar.<br />
To this extent, he was educated with a rigorous curriculum. His chief tutor, Boris Morozov, would have a profound effect on him and followed<br />
him into power when he became Tsar at the age of 16 when his father passed away in 1645. Alexis's mother, eudoxia, passed away just five weeks after<br />
his father.

<h3>reign</h3>
Alexis was well prepared for ruling russia. He inherited an unenviable position just like his father. The Tatar Khan had launched an invasion into the South<br />
of Russia and the Polish King was harboring one of the pretenders to the Russian throne. Alexis was crowned as Tsar on July 23rd 1645. Alexis was commonly called <br />
"the Young Monk" on account of his zealousy and care for religion.Alexis spent much of his day in church every day. He would wake up at 4:00 AM every morning and<br />
pray in his privater chapel for 20 minutes before continuing withhis day. He would pray again in the late afternoon for another half hour and pray again in the <br />
evening for another 20 minutes. Alexis held the church in high esteem and constantly criticized church officials who he thought were not loyal and didn't take their<br />
duties seriously.An example of this would accur early in his reign when a steward of a monastery got drunk during a service. Alexis dictated a letter to the Patriarch<br />
calling for the removal of the steward whom he called " a God-hater, Christ seller, singleminded little Satan, damned scoffing enemy and wicked evil doer." The Patriarch<br />
talked the Tsar into forcing the steward to publicly atone for his sins. On the same day as his coronation. a year after Alexis's coronation, Morozov succeeded in securing <br />
a wife for the Tsar. The Tsar married Maria Miloslavskaya in January of 1646. Morozov was removed after Alexis and his wife were seized by a mob<br />of peasants who pleaded<br />
with him to , in Alexis's own words, "Remove the bloodsuckers from the government." The crowd was adamant that Alexis remove Leonid Pleshcheev, a<br />
powerful boyar and ally of Morozov who held many important offices in Moscow. Alexis promised to launch an investigation. When alexis launched his investigation he found<br />
countless records of Morozov's corruption. After Morozov's removal and replacement, he was exiled to a monastery in 1648.

@code {

}
