@page "/Anna"


<h2>Anna</h2>


<h3>Life</h3>
Anna was born in 1710 as the daughter of the Tsar Ivan V. She became Tsarina in 1730 after the death of <a href="/PeterII">Peter II </a>.
Anna was elected to the throne by the Supreme Privy Council with the hopes that she could be pressured to<br />
further the agenda of the various nobles on the council. She was forced to concede to a number of conditions to<br />
assume the throne. These conditions forced her to work with the council and revoked her right to declare war.<br />
When she assumed the throne she simply dissolved the council and appointed loyal officials in their place.<br />
She humiliated nobles such as  Prince Mikhail Golitsyn who she made her court jester and forced to marry a lowborn<br />
Siberian woman. Anna expanded St. Petersburg and founded the Academy of Sciences in the city. Anna reformed the<br />
Secret Office of Investigation, a government office responsible for investigating and punishing political crimes<br />
that was used the <a href="/Alexis">Alexis </a> to investigate Boris Morozov. Anna continued <a href="/PeterI">Peter I's </a> process of Westernization.<br />
Anna's reign saw Russia enter the war of the Polish Succession and fight the Ottomans. When she became ill in the late 1730s she named her<br />
Grandnephew <a href="/IvanVI">Ivan VI </a> as the heir. She passed away in 1740 at the age of 47 due to a kidney stone.

@code {

}
