@page "/bibliography"
@rendermode InteractiveServer

<h3>Bibliography</h3>
Montefiore, Simon Sebag. Romanovs. 2016.<br />
"Romanov Dynasty." Britannica. Accessed June 2, 2025. https://www.britannica.com/topic/Romanov-dynasty.<br />
Remezov, Seymon, comp. Remezov Chronicle. c.1680.<br />
Compiler, Unknown, comp. Hustyn Chronicle. c.1600.<br />
Letters and Writings of Alexis Romanov, c.1645.<br />
Smith, Douglas. Former People.<br />
Letters and Writings of Nicholas II Romanov, c.1882<br />





@code {

}
