
@page "/CatherineI"

<h2>Catherine I</h2>

<h3>Life</h3>
Catherine was born in 1684 to the Skavronsky family with the name Marta. She eventually became the second wife of <a href="/PeterI">Peter I </a> and would succeed <a href="/PeterII">Peter II </a> as Tsarina in 1730.<br />
Catherine would give birth to the future empress Elizabeth who would serve as regent for Peter III who married Catherine II who eventually became Catherine the Great.<br />
Her reign ended in 1727 when she died from tuberculosis at age 43.

@code {

}
