@page "/Downfall"


<h2>Downfall</h2>


<h3>Nicholas II</h3>
The downfall of the Romanovs is set in motion when <a href="/NichII">Nicholas II </a> becomes Tsar of Russia. He was not prepared for becoming Tsar<br />
and made numerous mistakes early in his reign that owuld ruin his reputation. His defeat in the Russo-Japanese War made him seem reckless and his<br />
decision to go to parties hosted by nobles and foreign dignitaries alienated him from the general population of Russia. His violent response to the<br />
Bloody Sunday protest made him seem like a tyrant. These actions painted an image of a tyrant that radicals such as the bolsheviks were able to use to<br />
gain support from the poeple. When the 1905 Revolution occured, Nicholas made vague promises that only angered the revolutionaries more. When tensions boiled<br />
over in 1917 the Communist bolsheviks launched a coup against the Tsar that led to his capture and the beginning of the Russian Civil War.<br />


<h3>Civil War</h3>
When the royal family was captured at the outbreak of the civil war, they were moved to a house in Yekaterinburg. Several years of fighting would occur without the<br />
Tsar being able to lead the White anti-Bolshevik movement. The leaders of the White movement were not a unified front like the Communists and instead were an amalgam<br />
of Tsarists, Democrats, Socialists and liberals. Anyone who was anti-Bolshevik was in the White Movement. This led to conflicts of interests that causes schism within<br />
the leadership. This led to the White movement losing towards the end of the war. Early in the war the Bolsheviks were losing. On July 17th 1918 the royal family was led<br />
to the basement of the house they lived in. They were told they would have their picture taken. Several Communist soldiers then shot them and their servants. The Tsar was<br />
a rallying point for the Whites and as such was killed on Lenin's orders. This radical action begins to form the rift between Leon Trotsky and the Soviet government.<br />
With the death of the main royals, only a few members of several minor branches of the family survived. A few of their descendants are still alive today.<br />

<h3>Could this have been avoided?</h3>
While the lsoe of absolute power was likely inevitable, the violent end to the family could have been avoided. If Nicholas had simply been more open to considering the<br />
proposals of the moderates then he would have been more popular and the moderates would be seen as effective which would remove the need for radicals. The Romanovs would<br />
most likely have been made constitutional monarchs or outright removed from their position as the royal family. While the family was likely doomed to lose their power, they<br />
could have survived to pass it on.
@code {

}
