@page "/Establishment"
@rendermode InteractiveServer

<h2>Establishment</h2>

<h3>The Time of Troubles</h3>
Much of the Early history of the Romanov family is heavily connected to the Time of Troubles in Russia. The first to hold the surname Romanov was Filaret Romanov.<br>
He was the son of a Russian Boyar and the cousin to Tsar Feodor Ivanovich. He would make a name for himself in wars against Sweden and diplomatic meetings<br>
with various foreign dignitaries. When Tsar Feodor passed away without giving birth to a son, Filaret was nominated as a successor but stood down in favor<br>
of Brois Gudonov who would later force Filaret and his wife to take monastic vows due to the threat they posed to his power. Filaret was kept within the<br>
confines of a monastery and was not allowed to leave without the permission of the Tsar.

@code {

}
