@page "/Establishment"
@rendermode InteractiveServer

<h2>Establishment</h2>

<h3>The Time of Troubles</h3>
Much of the Early history of the Romanov family is heavily connected to the Time of Troubles in Russia. The first to hold the surname Romanov was <a href="/filaret">Filaret Romanov</a>.
<br>
He was the son of a Russian Boyar and the cousin to Tsar Feodor Ivanovich. He would make a name for himself in wars against Sweden and diplomatic meetings<br>
with various foreign dignitaries. When Tsar Feodor passed away without giving birth to a son, Filaret was nominated as a successor but stood down in favor<br>
of Brois Gudonov who would later force Filaret and his wife to take monastic vows due to the threat they posed to his power. Filaret was kept within the<br>
confines of a monastery and was not allowed to leave without the permission of the Tsar. Some time later Tsar Boris would die and Russia would become unstable.<br>
His son Feodor would succeed him but would only rule for a few months from April of 1605 to June of the same year. The Polish-Lithuanian Commonwealth would take<br>
advantage of this by supporting a pretender who claimed to be the dead son of Ivan the terrible, Dmitry Ivanovich. With Polish support the pretender, Commonly<br>
called the False Dmitry, assassinated Feodor and his mother before taking Moscow and being crowned as Tsar. Dmitry ruled for eleven months before disloyal<br>
Boyars would seize Moscow and kill him. He would be replaced as Tsar by one of the Boyars named Vasiliy Shuiski who spent much of his four year reign <br>
removing remaining Polish influence from Russia. When he was deposed in 1610 Polish influence returned to Russia with the ascension of a Polish king to<br>
the Russian throne. Vladislav Vasa would rule Russia with the support of the Russian arisstocratic parliament, the Zemsky Sobor, until 1613. Vladislav<br>
refused to convert to Orthodox Christianity and move to Moscow. His refusal motivated the Russian Boyars to continue fighting against the Poles and<br>
resulted in Vladislavs removal in 1613. The Zemsky Sobor chose to elect <a href="/michaelI">Michael Romanov</a> to the Russian throne. His ascension marked the end of the
<br>
Time of Troubles as Russia finally returned to a somewhat stable order.
<h3>           </h3>
<h3>Tsar Michael</h3>

Tsar Michael inherited a broken and ruined country that he could not rule<br>
alone as a seventeen year old. He promoted his father to Patriarch of Moscow. Filaret would be such a major influenc in Michael's reign that he was the<br>
de facto Tsar until his death in 1633. Filaret acted without the permission of the Tsar and effectively ruled as co-Tsar. He rewrote the Russian tax code<br>
without consulting the Tsar and set up a the precursor to serfdom.

@code {
	// Hyperlink syntax: <a href="page">text on link</a>


}
