@page "/FeodorIII"

<h2>Feodor III</h2>


<h3>Life</h3>
Feodor was born in June of 1661 to Tsar <a href="/Alexis">Alexis </a> Romanov. He was educated by Simeon Polotsky who instilled a respect for education in the future Tsar.<br />
When his father died in 1676 he was crowned Tsar. Fedor was very sick his entire life. He was physically disabled and disfigured due to a disease that, while not confirmed,<br />
is commonly thought to be scurvy. He spent his reign promoting education throughout Russia. He did this by financially supporting many different schools and even founding the<br />
Slavic Greek Latin Academy, the first institute of higher education founded by a Romanov. Feodor married Agaphia Grushevskaya in 1680 but had no surviving heirs with her. He was <br />
the first Tsar to consider liberal ideas and appointed various ministers who came from low nobility or the middle class. He proposed the law of beard shaving which would later be<br />
iomplemented by his half-brother <a href="/PeterI">Peter </a>.
<h3>Death</h3>
In 1682 Feodor passed away at 20 years old. He was succeeded by his two brothers who ruled as co-Tsars. His younger brother Peter would take inspiration from his rule when he <br>
eventually became the sole Tsar.
@code {

}
