
@page "/filaret"
<h3>Filaret</h3>

<h2>Early Life</h2>
Feodor Nikitich romanov, commonly called Filaret, was born in 1533 to a powerful Russian Boyar named <a href="/nikita">Nikita Romanovich</a>.<br>
He is the first member of the Romanov family to appear in records with the name Romanov. He was born in 1553 as the second son of a powerful Boyar<br>
His cousin was the eventual Tsar Feodor I. His disstinguished himself in his late teens and early twenties due to his skill in both war and diplomacy<br>
as displayed during the Russo-Swedish War and a diplomatic embassy with the Holy Roman Emperor Rudolph II. He was promoted to a Boyar in 1583 at the age of<br>
30

<h2>The Death of Feodor</h2>
When his cousin Tsar Feodor I died in January 1598 The Zemsky Sobor convened to elect a new Tsar. Feodor was I highly popular candidate but stood down in the face<br>
of opposition by the next Tsar Boris Gudonov who would become fearful of the power of feodor's family and would force him and him wife, Xenia, to take monastic vows. This<br>
is where Feodor would take the name Filaret. He was kept in strict confinment within Antionev Monastery, now called Siya Monestary, in the far north of Russia near Arkhangelesk.<br>
He would remain a captive within the monastery until Boris Gudonov was overthrown by the False Dmitry in 1605. The new Tsar released Filaret and made him Metropolitan of Rostov.<br>
He would again be imprisoned in 1610 as a captive of Sigismund III Vasa of Poland. Before this he was anointed as Patriarch of Russia by the second False Dmitry. Although<br>
few recognized his new title, since the second False Dmitry was a Polish puppet the Polish King would need Filaret's support to gain legitimacy for his claim as Tsar. Filaret refused<br>
to do so and became a figure of hope and patriotism in Russia due to his defiance. He would be released in 1618 at the conclusion of the Polsih-Russian War and was officially<br>
anointed Patriarch of all Russia by his son Michael who was elected as Tsar Michael the First.

<h2>Patriarch of All Russia</h2>
Filaret was finally installed and recognized nation wide as the Patriarch of Russia. He acted effectively as a co-ruler with his son Michael. Filaret would often act without the<br>
input of the Tsar and had great autonomy due to his familial status with the Tsar and his control over the affairs of the Patriarchy. Filaret was an Orthodox Traditionalist and<br>
wrote doctrines to command every Archbishop to establish schools of Theology within the dioces they controlled. Towards the end of his life Filaret embarked on a mission to reform<br>
the Russian military through opening the officer corp to foreigners. This would remain until the end of the Russian empire as many European nobles would immigrate to Russia and join<br>
the military. Vitus Bering, who explored the Pacific far north and discovered Alaska, was a Dane who served in the Russian Navy.<br>

<h2>Death</h2>
in October of 1633 Filaret passed away. During his tenure as Patriarch he greatly increased the autonomy and power of the Church in Russia and instituted many reforms and policies<br>
that would remain with Russia until the fall of the Empire in 1916. After his death his son Michael would rule independently until 1645 when he would pass away and be succeeded by<br>
Filaret's grandson Alexei.



@code {

}
