@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<h1>The Romanovs</h1>

<h2>About</h2>
This website is a wiki detailing the Romanov dynasty and how its members affected history throughout their 300 years in control of Russia. This was made<br>
for an Ap European History assignment by A&J.


    

@code
{

    
}
