@page "/IvanVI"

<h3>Ivan VI</h3>


<h3>Life</h3>
Ivan was born in 1740 in the Romanov family. He succeeded his grandaunt <a href="/Anna">Anna </a> when he was a few months old in October of 1740.<br />
He was Tsar for a little over a year before he was removed by his cousin Elizabeth.
@code {

}
