@page "/IvanV"

<h3>Ivan V</h3>


<h3>life</h3>
Ivan was born the son of Tsar <a href="/Alexis">Alexis </a> Romanov. He was the brother of <a href="/FeodorIII">Feodor III </a> and <a href="/PeterI">Peter I </a>. in 1666<br />
Ivan was mentally challenged and blind. When his brother Feodor died he was meant to be the next Tsar but was unpopular due to is disabilities.<br />
After a coup by his sister he was placed in power and alongside his brother Peter. Ivan had three children, one of whom woudl become Tsarina <a href="/Anna">Anna </a>.
Ivan married Praskovia Saltykova. She cared deeply for him and took care of him when his health began to decline and he lost many of his mental and physical<br />
faculties. Ivan died in 1696 at the age of 29 likely from complications with his disabilities.




@code {

}
