
@page "/michaelI"
<h3>Michael the First</h3>

<h2>Early Life</h2>
Michael was born on July 22 1596 to <a href="/filaret">Feodor nikitich Romanov</a>. He was the first Romanov Tsar to rule Russia.<br>
Michael spent his chlidhood in Beloozero after being exiled on the orders of Tsar Boris Gudonov who had imprisoned his <a href="/filaret">father</a> inside
<br>
a monastery.

<h2>Election to the throne and Early Reign</h2>
Michael was elected by the Zemsky Sobor when he was seventeen after decades of instability known as the Time of Troubles. Michael would<br>
free his father and install his as Patriarch of Moscow and Russia. His father 





@code {

}
