
@page "/michaelI"
<h3>Michael the First</h3>

<h2>Early Life</h2>
Michael was born on July 22 1596 to <a href="/filaret">Feodor nikitich Romanov</a>. He was the first Romanov Tsar to rule Russia.<br>
Michael spent his chlidhood in Beloozero after being exiled on the orders of Tsar Boris Gudonov who had imprisoned his <a href="/filaret">father</a> inside
<br>
a monastery.

<h2>Election to the throne and Reign</h2>
Michael was elected by the Zemsky Sobor when he was seventeen after decades of instability known as the Time of Troubles.<br />
The Zemsky Sobor of 1613 lasted for over a month as Russian aristocrats argued over who would be elected as Tsar after the<br />
decades of instability. Michael was proposed as a potential candidate multiple times throughout the convention due to his father's<br>
popularity and authority as the Patriarch. Michael was eventually elected as Tsar due to a compromise achieved by the various factions<br />
within the convention who all agreed that he would be too young to rule alone and would need guidance that could be used to promote the<br />
various agendas of the nobles who elected him. He was found at a monastery in Kostroma on March 24th of 1613 by delegates of the Zemsky Sobor.<br />
these delegates were underwhelmed by Michael who they thought was very timid, uneducated. Several Boyars said that he was completely unqualified.<br />
Despite his shortcomings he was brought to Moscow, moved into the Kremlin palace and named Tsar Michael the First. Michael freed his father and installed<br />
him as Patriarch of Moscow and Russia. His father held power throughout much of Michael's early reign. Michael failed to take the key city of Smolensk during<br />
the Russo-Polish War of 1605 to 1618 but did succeeed in freeing his father. Michael focused heavily on Eastern expansion after the war with the Poles. Micheal<br />
was married three times and sired ten children, of whom only four would survive. His first wife, Maria Khlopova, was chosen at a bride show in 1616. She became sick.<br />
only six weeks after her marriage. Michael believed that she had been poisoned by a Boyar after Michael didn't choose his daughter. Maria was consistently undermined<br />
while she was sick as many questioned if she would be able to have children. eventually Michael sent her to a monastery for her own safety after her caretaker, Michael's<br />
cousin Michael Saltykov, who was against Maria's ascension to Tsarina, was caught giving her medication that exacurbated her symptoms. Her and her family were exiled to Siberia<br />
but Michael still loved her and vowed to never marry. Michael married again in 1624 after being pressured by the nobility. He married Maria Dolgorukova who became ill and died in 1625<br />
just four months after their marriage. Michael married again in 1626 to Eudoxia Streshneva. He had ten children with her but only four became adults, one of which was the<br />
future Tsar Alexis.
<h3></h3>
<h3>Death</h3>
Michael died in 1645 at the age of 49 due to contracting scurvy and dropsy. Michael was succeeded by his son Alexis who became Tsar at 16 years old.<br />
Michael's most notable accomplishments during his reign were restabilizing Russia from the Time of Troubles and developing Russian Siberia.




@code {

}
