@page "/NichII"

<h2>Nicholas II</h2>

<h3>Life</h3>
Nicholas the II was born May 6, 1868 near St. Petersburg, Russia. He was the last Tsar of Russia and his reign lasted from 1894-1917.<br />
Nicholas was raised by Alexander III who did not educate him in how to rule. Nicholas spent his early life traveling throughout Europe and Asia<br />
He visited Japan and got a tattoo their. he also went to England and met his cousin George V king of England. Nicholas married Alix of Hesse in 1894.<br />
He mad 5 children with her his only son, Alexei was born with hemophilia. He suffered numerous near-death experiences caused by his bleeding. Nicholas<br />
ascended to the Russian throne in 1894 and held a festival to celebrate. Over 1000 people were killed during the festival due to the large number <br />
of attendees and relatively small space leading to people being trampled. Nicholas was persuaded to go to a party hosted by the French ambassador.<br />
This only worsened the relationship between him and the people. Nicholas was a staunch believer in Divine Right to Rule. This belief is commonly<br />
attributed to his stubborness in regards to sharing power and liberalizing Russia. Due to his waining popularity, Nicholas decided to provoke<br />
a war with the Japanese. Starting a war is a common method used by autocrats to decrease the pressure from the public and instill patriotism<br />
within the country. Nicholas started a war with Japan that lasted a year and resulted in a humiliating and devastating defeat for Russia. This<br />
defeat made Nicholas hated by many within Russia. In 1906 an Orthodox priest organized a protest with the goal of peacefully bringing a petition<br />
to the Tsar. This protest was met with a violent response as the Tsar's soldiers opened fire on the crowd and killed up to more than 250 people.<br />
When WWI broke out in 1914 Russia was not well prepared but was able to quickly mobilize and take the fight to the Germans. Despite a quick mobilization<br />
the military was still poor quality and ill-equiped to fight the German military superpower. Russia quickly began to lose ground with only the Brusilov Offensive<br />
achieving serious positive goals. Nicholas eventually took command of the army himself despite not being a general. he led the army until he was forced to abdicate<br />
in 1917. The Communists launched a coup after losing the popular elecion and took over much of central russia. The family was moved to Yekaterinburg and eventually<br />
executed in 1918 when the Bolsheviks feared that they would be freed by an advancing White army.

@code {

}
