
@page "/nikita"

<h3>Nikita</h3>

<h2>Life</h2>
Nikita Romanovich was a powerful Boyar in russia, progenitor of the Romanov dynasty and father of the future Patriarch of the russian Church<br>
<a href="/filaret">Feodor Romanov</a>. He was born in 1522 the son of a court official. In 1547 his sister married Ivan the Terrible and formed<br>
the familial connection that would eventually allow his grandson to become Tsar of Russia. He was granted the court position of Stolnik in the same year<br>
He would eventually become one of the tsar's bodygaurds and would eventually rise to the rank of Okolnichy, a high ranking administrator, in 1559 after<br>
participating in the Livonian War. He would become a Boyar in 1562 after his older brother pasted away and would become the governor of the city of Tver<br>
After the deaath of Ivan the Terrible Nikita became the regent of Russia while his nephew and Tsar Feodor I was still a minor in 1584. He died in April of<br>
1586.

<h2>Legacy</h2>
Nikita set the stage for the Romanov dynasty to eventually become the dominant family in Russian politics. His familial connection to the Rurikid dynasty<br>
provided him the rank of Boyar and various court positions that he would use to put his family members in powerful seats such as his sons who would become<br>
Boyars like him and occupy high ranking offices in the military.


@code 
{

}
