@page "/PeterI"


<h2>Peter I</h2>

<h3>Life</h3>
Peter I was the son of Tsar <a href="/Alexis">Alexis </a> and brother to both Tsar <a href="/FeodorIII">Feodor III</a> and <a href="/IvanV">Ivan V </a>. He was born the son of Alexis's second wife.<br />
When his father and older brother died he was proposed as the next heir due to his brother's mental and physical disabilities. After his half-sister Sophia launched a successful coup against<br />
the government, he was forced to share power with his brother. He spent much of his childhood in exile while Sophia was in power. He eventually managed to overthrow her in 1688 and exiled her.<br />
He ruled alone in 1696 when his brother Ivan died. He implemented many reforms with the goal of modernizing and Westernizing Russia. He fought wars against the Swedes and Turks for control ove their<br />
respective regions. Peter went on a tour of Europe which introduced him to new ideas that he implemented back home in Russia. Peter founded St. Petersburg and built the Winter Palace. He had one adult son<br />
who he had imprisoned after disobeying him and fleeing the country. Peter invited him back home but had him arrested when he returned. His son died in prison and his <a href="/PeterII">grandson </a> would succeed him.<br />
Peter died in 1725 due to complications with his bladder and was succeeded by his grandson Peter II.
@code {

}
