@page "/PeterII"


<h3>Peter II</h3>

<h3>Life</h3>
Peter was the only son of Alexei Romanov, son of <a href="/PeterI">Peter I </a>. He became Tsar at 11 years old. His mother died when he was ten and his father<br />
was killed by his grandfather. He was a firt cousin to Maria Theresa of Austria. Peter was disliked by his grandfather and was kept away from court life. When <br />
he bacame Tsar at 11 years old Alexander Menshekov became his gaurdian and regent. He ruled Russia while Peter grew up. Just three years into his reign he passed<br />
away from smallpox on the same day he was meant to be married. He was succeeded by his cousin <a href="/Anna">Anna </a>.

@code {

}
