@page "/17th-19thCenturies"

<h3>Tsar Alexis</h3>
After <a href="/MichaelI">Michael's</a> death in 1645 he was succeeded by his son <a href="/Alexis">Alexis</a>, also called Alexei, who reigned from 1645 to 1676. Alexis immediently began to reform
<br />
the Russian government and replaced many high ranking officials. Alexis, unlike his father, was very well prepared for ascending the throne. Alexis was<br />
well educated and had a passion for the arts. He was an ameteur poet and artist. He wrote constantly about his ideas and beliefs and was open to foreigners<br />
serving in positions of power just like his grandfather. Alexis replaced many members of his father's government including the Chief Minister who he replaced<br />
with his tutor Boris Morozov. Alexis, unlike the tsars before him, followed a peaceful foreign policy. He brokered a peace deal with the Polish-Lithuanian<br />
Commonwealth which resulted in Poland surrendering a pretender to the Russian throne to Russian authorities. He also pursued a domestic policy that saw him <br />
remove many offices awarded to nobles for their loyalty. He saw these as wastes of resources. Due to his religious nature, he also pursued laws that limited things<br />
such as public drunkeness and public music performances not endorsed by the church or tsar. After securing a marriage to Maria Miloslavskaya he dismissed Morozov from<br />
his office of Chief Minister and replaced him with his cousin Nikita Romanov and Prince Yakov Cherkassky. Alexis furthered the goals of his predecessors to develop<br />
Serfdom. Alexis granted landowners the priviledge to dispense justice to those who lived on their land. These reforms allowed Alexis to form a steady alliance with the<br />
nobility that would remain until the early 1860s. In 1650 several riots occured in various cities in central Russia on account of the high taxes of goods. These riots<br />
eventually escalated into a small rebellion as the city of Pskov was captured. Alexis negatiated with the rebels and persuaded them to surrender with a promise of full<br />
Amensty. This deal was brokered by the Patriarch Nikon who distinguished himself as a diplomat during the talks. In 1651 forces from Safavid-controlled Iran attacked<br />
Russian fortresses in the North Caucuses. The Russian military failed to mount a successful offensive to recapture the fortresses. In 1653 Alexis negotiated a peace with<br />
the Safavids who took control of the Russian forts. In 1670 A Don Cossack named Stephan Razin launched an open<br />
rebellion in and around modern Ukraine. He quickly established a Cossack republic in the captured city of Tsaritsyn, now Volvograd and previously Stalingrad. Razin would <br />
continue to advance into neighboring cities until Alexis dispatched an army led by Boyar Yuri Baryatinski. Yuri's army of 5000 inflicted a disasterous defeat of Razin's <br />
army of over 20,000 at Simbirsk, now Ulyanovsk. This battle is commonly used to explain how superior discipline and higher quality soldiers can easily win battles. Official<br />
Muscovite records say that Yuri's army only suffered 39 deaths but these records may have been falsely recorded. Razin was soon captured and publicly tortured to death. Alexis fought<br />
against the Poles in the Russo-Polish War of 1654-1667. This war allowed Russia to become the dominant power in Eastern Europe compared to the Poles. Russia also gained control of Left<br />
Bank Ukraine and Kiev along with the city of Smolensk which they had lost decades ago during the lifetime of Alexis's grandfather <a href="/filaret">Filaret </a>. Alexis died in 1676<br />
and was succeeded by his son <a href="/FeodorIII">Feodor</a> who was 15 years old. 

<h3>Feodor III and his Brothers</h3>
 Feodor III was the legitimate successor to Alexis but was very sickly and was immoble. Despite his shortcomings he proved to be a decent ruler and a highly intellectually capable person<br />
 who could speak both Latin and Polish on top of already knowing Russian. Feodor pursued an agenda to reform Russian education as he became the patron of many schools and even helped found the<br />
 Slavic Greek Latin Academy, the oldest institute of higher education in Romanov russia. Feodor died in 1682 and was succeeded by his brothers <a href="/IvanV">Ivan V </a> and <a href="/PeterI">Peter I </a> who ruled jointly as co-Tsars.<br />
 Ivan's sister Sophia was afraid that Peter and his supporters would attempt to harm her and Ivan due to them being his half siblings from a different mother and potential pretenders to the throne.<br />
Sophia launched a rebellion in 1688 with loyal regiments form the Russian Streltsy in Moscow. Before this a mob in Moscow had seized the Kremlin and killed a number of important boyars who supported<br />
Peter's claim. Several days later the Streltsy seized the palace where Peter and his family were staying. Sophia had several of her step-uncles, Peter's mother's brothers, arrested.<br />
Peter's supporters were forced to concede defeat and agreed to have both Ivan and Peter rule as co-Tsars with Ivan being the primary Tsar and Sophia serving as regent. Despite a later attempted<br />
coup against Sophia in fall of 1682 she was able to maintain power until 1689 when Peter managed to overthrow her after she became an ineffective ruler. When Ivan died in 1692 Peter ruled alone.<br />
Peter greatly expanded Russia. He embarked on a mission to Westernize Russia and implemented many of the proposed reforms of his brother Feodor. Peter defeated the Swedes for greater control over the Baltic<br />
and fought the Ottomans for greater control over the Caucus Mountians, Crimea and the Black Sea. Peter went on a tour of Europe that inspired many of his eventual reforms. Peter also constructed<br />
the winter palace and St. Petersburg. Both places would serve as the capital and center of government for Russia until the founding of the Soviet Union. Peter died without an heir in 1725 at 52 years old.<br />


<h3>Catherine the Great and her Husband</h3>
Peter was succeeded by his wife <a href="/CatherineI">Catherine I </a> who reinged until 1727 and was succeeded by Peter's Grandson <a href="/PeterII">Peter II </a> who reigned until 1730.<br />
He was succeeded by his cousin <a href="/Anna">Anna </a> who reigned until 1740. She was then succeeded by <a href="/IvanVI">Ivan VI </a> who less than a year old when he was crowned. He was<br />
overthrown by Anna's sister Elizabeth. She was eventually replaced by Peter III who married a German princess named <a href="/CatherineII">Sophie</a>. She eventually replaced Peter and became<br />
Catherine the Great. 
@code {

}
