@page "/17th-19thCenturies"

<h3>Tsar Alexis</h3>
After Michael's death in 1645 he was succeeded by his son Alexis, also called Alexei, who reigned from 1645 to 1676. Alexis immediently began to reform<br />
the Russian government and replaced many high ranking officials. Alexis, unlike his father, was very well prepared for ascending the throne. Alexis was<br />
well educated and had a passion for the arts. He was an ameteru poet and artist. He wrote constantly about his ideas and beliefs and was open to foreigners<br />
serving in positions of power just like his grandfather. Alexis replaced many members of his father's government including the Chief Minister who he replaced<br />
with his tutor Boris Morozov. Alexis, unlike the tsars before him, followed a peaceful foreign policy. He brokered a peace deal with the Polish-Lithuanian<br />
Commonwealth which resulted in Poland surrendering a pretender to the Russian throne to Russian authorities. He also pursued a domestic policy that saw him <br />
remove many offices awarded to nobles for their loyalty. He saw these as wastes of resources. Due to his religious nature, he also pursued laws that limited things<br />
such as public drunkeness and public music performances not endorsed by the church or tsar. After securing a marriage to Maria Miloslavskaya he dismissed Morozov from<br />
his office of Chief Minister and replaced him with his cousin Nikita Romanov and Prince Yakov Cherkassky. 

@code {

}
